<header class="main-header" [ngClass]="{'sidebar-collapse': sidenavchangeService.sideNavChange$ | async}">
  <!-- Logo -->
  <a class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>A</b>MT</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>Apart</b>Ment</span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a class="sidebar-toggle" role="button" (click)="toggleSideNav()">
      <span class="sr-only">Toggle navigation</span>
    </a>
  </nav>
</header>