<div class="wrapper">
  <!-- Main Header -->
  <app-layout-header></app-layout-header>
  <!-- Left side column. contains the logo and sidebar -->
  <app-layout-side-nav></app-layout-side-nav>
  <!-- Content Wrapper. Contains page content -->
  <app-layout-content></app-layout-content>
  <!-- /.content-wrapper -->
  <!-- Main Footer -->
  <app-layout-footer></app-layout-footer>
</div>