<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mythri Residency</h4>
            <div class="info">
              <p>Month: 07</p>
              <p>Year: 2019</p>
            </div>
            <div class="info">
              <p>Total Expenses: 1244</p>
              <p>My Unpaid Expenses: 45442</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button class="btn btn-txt">Distribute</button>
              <button class="btn btn-txt">View</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Durga Shankar Residency</h4>
            <div class="info">
              <p>Month: 07</p>
              <p>Year: 2019</p>
            </div>
            <div class="info">
              <p>Total Expenses: 1244</p>
              <p>My Unpaid Expenses: 45442</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button class="btn btn-txt">Distribute</button>
              <button class="btn btn-txt">View</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Oyo Residency</h4>
            <div class="info">
              <p>Month: 07</p>
              <p>Year: 2019</p>
            </div>
            <div class="info">
              <p>Total Expenses: 1244</p>
              <p>My Unpaid Expenses: 45442</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button class="btn btn-txt">Distribute</button>
              <button class="btn btn-txt">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt20">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Orion Residency</h4>
            <div class="info">
              <p>Month: 07</p>
              <p>Year: 2019</p>
            </div>
            <div class="info">
              <p>Total Expenses: 1244</p>
              <p>My Unpaid Expenses: 45442</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="text-right">
              <button class="btn btn-txt">Distribute</button>
              <button class="btn btn-txt">View</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>