.card {
  height: 166px;
  background-color: aliceblue;
}
.card-footer {
  background-color: navy;
  padding: 0;
}
h4 {
  color: #0a0a8a;
}
.btn-txt {
  color: white;
  font-size: 12px !important;
  font-weight: bold;
}
.info p {
  display: inline;
  word-wrap: break-word;
  font-size: 12px !important;
}
