@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper {
    margin-left: 50px !important;
    z-index: 840;
  }
}

.content-wrapper {
  transition: margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}
.content-wrapper {
  min-height: 558px;
  background-color: #ecf0f5;
  z-index: 800;
}

@media (max-width: 767px) {
  .content-wrapper {
    margin-left: 0 !important;
  }
}
