.sidebar-collapse .main-footer {
  margin-left: 50px;
}

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
  bottom: 0;
}

.main-footer {
  transition: margin 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}

@media (max-width: 767px) {
  .main-footer {
    margin-left: 0 !important;
  }
}
