@import '~font-awesome/css/font-awesome.css';
@import 'reset.css';

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 12px !important;
  height: 100%;
}

.k-grid-header .k-header {
  background-color: #2a5788;
  min-height: 50px;
  font-size: 15px;
  font-weight: 600;
  color: white;
}
.k-grid td {
  height: 42px;
  border-color: #e9e9e9;
  border-width: 0 0 1px 1px;
  padding: 8px 10px;
  border-collapse: collapse;
}
.k-grid-header .k-header > .k-link {
  color: white;
  font-weight: bold;
  height: 36px !important;
  padding: 6px 14px !important;
}
.k-grid .k-grid-filter,
.k-grid .k-header-column-menu,
.k-grid .k-hierarchy-cell .k-icon {
  border-width: 0;
  color: white;
}
.k-widget {
  font-size: 0.8rem !important;
}
.k-icon {
  padding-top: 7px;
}

.form-data .form-group label {
  font-size: 12px;
  color: #787979;
  font-weight: normal;
  margin: 0;
}

.form-data .form-control {
  background: none;
  background-color: transparent;
  /* border: 1px solid #979797; */
  border: 0;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-bottom: 1px solid #979797;
  box-shadow: none;
  font-size: 14px;
  /* padding-left: 0; */
  font-weight: 500;
  color: black;
}

.form-data .form-control[disabled],
.form-data .form-control[readonly],
.form-data fieldset[disabled] {
  color: #acacac;
}
.form-data .form-group label {
  font-size: 13px;
  color: #787979;
  font-weight: 700;
  margin: 0;
}

.form-data .form-group {
  margin-bottom: 21px;
  position: relative;
}

.form-data .form-control::placeholder,
.form-data .form-control:-ms-input-placeholder,
.form-data .form-control::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #404040;
  opacity: 1; /* Firefox */
  font-size: 14px;
}

.card .card-footer {
  padding: 1px;
  background: #2a5788;
}

.card .card-header {
  color: white;
  background: #2a5788;
}

.form-data .form-group .input-group-btn {
  right: 20px;
  top: 26px;
  position: absolute;
  color: #404040;
}

/* Grid Css*/
.k-grid-header .k-header {
  background-color: #2a5788;
  min-height: 52px;
  font-size: 15px;
  font-weight: 700;
  color: white;
}
.k-grid td {
  height: 42px;
  border-color: #e9e9e9;
  border-width: 0 0 1px 1px;
  padding: 8px 10px;
  border-collapse: collapse;
}
.k-grid-header .k-header > .k-link {
  color: white;
  font-weight: bold;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='number']:focus,
[type='text'].form-control:focus,
[type='password'].form-control:focus,
[type='email'].form-control:focus,
[type='tel'].form-control:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

.k-grid .k-grid-filter,
.k-grid .k-header-column-menu,
.k-grid .k-hierarchy-cell .k-icon {
  border-width: 0;
  color: white;
}


