<form [formGroup]="searchForm">
    <input type="text" class="form-control" placeholder="Search Apartments" formControlName="search">
</form>
<div style="margin-top: 30px;"></div>
<kendo-grid [data]="view | async " [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [pageable]="true"
    [sortable]="true" [filter]="state.filter" filterable="menu" 
    (dataStateChange)="dataStateChange($event)"  [height]="400">
    <kendo-grid-column field="UniqueId" title="UniqueId" hidden="true">
    </kendo-grid-column>
    <kendo-grid-column field="Name" title="Apartment Name" filter="text" width="100">
    </kendo-grid-column>
    <kendo-grid-column field="Details" title="Details" filter="text" width="80">
    </kendo-grid-column>
    <kendo-grid-column field="Address" title="Address" filter="text" width="80">
    </kendo-grid-column>
    <kendo-grid-command-column title="" width="30">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoGridEditCommand [primary]="true" (click)="claimApartment(dataItem)">Claim</button>
        </ng-template>
    </kendo-grid-command-column>
</kendo-grid>