<div class="col-md-12">
    <form [formGroup]="registerApartmentForm" class="form-data col-sm-12">
        <div class="row">
            <div class="card form-fields">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': showDetails}">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': showFlatType}">Flat Type</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': showExpType}">Expense Types</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [ngClass]="{'active': showMembers}">Members</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div [hidden]="!showDetails">
                        <div class="row mt50">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Apartment Name*</label>
                                    <input type="text" value="" class="form-control" formControlName="name"
                                        maxlength="50" placeholder="Enter Apartment name">
                                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="name.errors?.required">
                                            *Apartment name is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Address*</label>
                                    <input type="text" value="" class="form-control" formControlName="address"
                                        maxlength="50" placeholder="Enter address">
                                    <div *ngIf="address.invalid && (address.dirty || address.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="address.errors?.required">
                                            *Address is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Description*</label>
                                    <input type="text" value="" class="form-control" formControlName="details"
                                        maxlength="50" placeholder="Enter address">
                                    <div *ngIf="details.invalid && (details.dirty || details.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="details.errors?.required">
                                            *Description is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt50">
                            <div class="col-sm-12">
                                <button type="button" (click)="moveNext('flattype')" class="btn-success pull-right">Next
                                    <i class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!showFlatType">
                        <div class="row mt50">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Flat Type*</label>
                                    <select formControlName="flatTypeId" class="form-control">
                                        <option value="" disabled>Select</option>
                                        <option *ngFor="let type of flatTypes" [value]="type.Id">{{type.Value}}</option>
                                    </select>
                                    <div *ngIf="flatTypeId.invalid && (flatTypeId.dirty || flatTypeId.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="flatTypeId.errors?.required">
                                            *Flat type is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt50">
                            <div class="col-sm-12">
                                <button type="button" (click)="moveNext('expensetype')"
                                    class="btn-success pull-right">Next <i
                                        class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!showExpType">
                        <div class="row mt50">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Expense Type*</label>
                                    <select formControlName="expenseTypeId"
                                        (change)="selectedOption($event.target.value)" class="form-control">
                                        <option value="" disabled>Select</option>
                                        <option *ngFor="let type of expenseTypes" [value]="type.Id">{{type.Value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3" [hidden]="!showAmount">
                                <div class="form-group">
                                    <label>Amount*</label>
                                    <input type="text" value="" class="form-control" formControlName="amount"
                                        libDecimalOnly maxlength="50" placeholder="Enter amount">
                                    <div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
                                        class="alert alert-danger">
                                        <div *ngIf="amount.errors?.required">
                                            *Amount is required
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt50">
                            <div class="col-sm-12">
                                <button type="button" (click)="moveNext('members')" class="btn-success pull-right">Next
                                    <i class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div [hidden]="!showMembers">
                        <div class="row mt50">
                            <div class="col-sm-12">
                                <div formArrayName="members"
                                    *ngFor="let member of registerApartmentForm.get('members')['controls']; let i = index">
                                    <div [formGroupName]="i">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Name*</label>
                                                    <input type="text" value="" class="form-control"
                                                        formControlName="name" id="name{{i}}" maxlength="15"
                                                        placeholder="Enter Name">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Phone #*</label>
                                                    <input type="text" value="" class="form-control"
                                                        formControlName="phone" maxlength="10"
                                                        placeholder="Enter Phone">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <div class="form-group">
                                                    <label>Email</label>
                                                    <input type="text" value="" class="form-control"
                                                        formControlName="email" placeholder="Enter Email">
                                                </div>
                                            </div>
                                            <div class="col-sm-3">
                                                <button *ngIf="i === 0" (click)="addMember()" class="btn"
                                                    title="Add another member">
                                                    <i class="fa fa-plus fa-lg icon-add" aria-hidden="true"></i>
                                                </button>
                                                <button *ngIf="i>0" (click)="removeMember(i)" class="btn"
                                                    title="Remove member">
                                                    <i class="fa fa-trash fa-lg icon-delete" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt50">
                            <div class="col-sm-12">
                                <button type="button" (click)="moveNext()" class="btn-success pull-right">Next <i
                                        class="fa fa-angle-double-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </form>
</div>