.form-data h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
}

.overlap {
  margin-left: -217px;
}

.form-fields {
  width: 100%;
  // height: 380px;
}

.scroll {
  overflow: scroll;
  height: 250px;
}

.form-data .alert-danger {
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  border: 0;
  border-radius: 0;
  color: #d0021b;
}

.form-data .form-group .input-group-btn {
  right: 20px;
  top: 26px;
  position: absolute;
  color: #404040;
}
.command-buttons {
  float: left;
}

a {
  color: white;
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 13px;
}

.btn-success {
  min-width: 127px;
  height: 38px;
  background-color: white;
  border: solid 1px #2a5788;
  text-align: center;
  font-size: 18px;
  color: #2a5788;
  font-weight: 600;
  background-image: none;
  border-radius: 4px;
}

.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #2a5788;
  border: solid 1px #2a5788;
  background-image: none;
  box-shadow: none;
  color: white;
}
.btn-success:focus {
  background-color: #2a5788;
  border: solid 1px #2a5788;
  background-image: none;
  box-shadow: none;
  color: white;
}

.icon-delete {
  color: #b83b3b;
}

.icon-add {
  color: #589b19;
}
