.login-block {
  background: rgb(78, 14, 228); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    rgb(156, 151, 231),
    rgb(27, 52, 190)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    rgb(151, 192, 231),
    rgb(27, 52, 190)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float: left;
  width: 100%;
  padding: 50px 0;
}
.banner-sec {
  // background: url(../../../assets/sms2.jpg) no-repeat left bottom;
  background-size: cover;
  min-height: 500px;
  border-radius: 0 10px 10px 0;
  padding: 0;
}
.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}
.carousel-inner {
  border-radius: 0 10px 10px 0;
}
.carousel-caption {
  text-align: left;
  left: 5%;
}
.login-sec {
  padding: 50px 30px;
  position: relative;
}
.login-sec .copy-text {
  position: absolute;
  width: 80%;
  bottom: 20px;
  font-size: 13px;
  text-align: center;
}
.login-sec .copy-text i {
  color: rgb(151, 192, 231);
}
.login-sec .copy-text a {
  color: rgb(27, 79, 190);
}
.login-sec h2 {
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 30px;
  color: rgb(27, 52, 190);
}
.login-sec h2:after {
  content: ' ';
  width: 100px;
  height: 5px;
  background: rgb(151, 192, 231);
  display: block;
  margin-top: 20px;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
}
.btn-login {
  background: rgb(27, 79, 190);
  color: #fff;
  font-weight: 600;
}
.banner-text {
  width: 70%;
  position: absolute;
  bottom: 40px;
  padding-left: 20px;
}
.banner-text h2 {
  color: #fff;
  font-weight: 600;
}
.banner-text h2:after {
  content: ' ';
  width: 100px;
  height: 5px;
  background: #fff;
  display: block;
  margin-top: 20px;
  border-radius: 3px;
}
.banner-text p {
  color: #fff;
}
.banner-sec h2 {
  line-height: 503px;
  margin-left: 388px;
  color: white;
  font-size: 41px;
  font-weight: 900;
}
.form-data .alert-danger {
  padding: 0;
  margin: 0;
  background: transparent;
  font-size: 14px;
  position: absolute;
  bottom: -20px;
  border: 0;
  border-radius: 0;
  color: #d0021b;
}
.form-data .error {
  color: red;
}
