<div [ngClass]="{'sidebar-collapse': sidenavchangeService.sideNavChange$ | async}">
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <img class="img-circle" src="" onerror="this.onerror=null; this.src='assets/img/profile.png'" alt="">
        </div>
        <div class="pull-left info mt10">
          <p>{{userDetails.Username}}</p>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header"></li>
        <!-- Optionally, you can add icons to the links -->
        <li>
          <a  ><i class="fa fa-home"></i> <span>Dashboard</span></a>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a  routerLink='/apartment' ><i class="fa fa-search"></i> <span>Search
              Apartment</span></a>
        </li>
        <li routerLinkActive="active">
          <a routerLink='./register-apartment'><i class="fa fa-link"></i> <span>Register
              Apartment</span></a>
        </li>
        <!-- <li class="treeview" *ngFor="let i of [1]">
          <a (click)="toggleMenu($event.target)"><i class="fa fa-address-card"></i> <span>Next Level</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a>Link in level 2</a></li>
            <li><a>Link in level 2</a></li>
          </ul>
        </li> -->
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
</div>